<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn Vue-js</title>
  <link rel="stylesheet" href="style.css">

  <script src="scripts/vue.global.js"></script>
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
</head>
<body>

  <div id="app">
    <h2>{{msg}}</h2>

    <h3>Username: {{userInfo.name}}</h3>
    <h4>Age: {{userInfo.age}}</h4>
    <p>Github Link: <a :href="userInfo.github" target="_blank">Visit</a></p>

    <p>Current Time: {{getCurrentTime()}}</p>

    <h1>count = {{count}}</h1>
    <button  @click="increment(1, $event)">Increment by 1</button>
    <button @click="decrement(1)">Decrement by 1</button>
    <br>
    <br>
    <button  @click="increment(2, $event)">Increment by 2</button>
    <button @click="decrement(2)">Decrement by 2</button>
    <br>
    <hr>

    <h1>Event Modifier</h1>
    <input type="text" @keyup="keyupModifier">
    <p>Welcome {{inputText}}</p>
<hr>

    <h2>Change background color</h2>
    <input type="text" v-model="bgColor">
    <input type="color" v-model="bgColor">
    <div :style="'background-color:' + bgColor" style="width: 75px;height: 75px; border: 1px solid;">Box</div>

    <hr>

    <h2>List Rendering</h2>
    <input type="text" v-model="newSkill">
    <button @click="addSkill">Add</button>
    <ol >
      <li v-for="(skill,i) in skills" @click="removeSkill(i)" :key="skills[i]">
        <p>{{skill}}</p>
        <input type="text" placeholder="remark" @click.stop>
      </li>
    </ol>




  </div>
  
  <script src="scripts/app.js"></script>
</body>
</html>