*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.area{
  width: 100vw;
  height: 100vh;
  background-color: #131313;
  display: flex;
  justify-content: center;
}

.container {
  width: 75vw;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 35px;
}

.container h2 {
  padding-bottom: 15px;
}

.container .input_box {
  width: 100%;
  margin-bottom: 15px;
}
#search_input{
  width: 80%;
  margin-right: 10px;
  padding: 5px;
  font-size: 1.15rem;
}
#search_input:focus {
  background-color: rgba(147, 5, 169, 0.4);
  border: none;
  outline: none;
  border-radius: 5px;
}

.search_max_limit {
  font-weight: 800;
}
.search_limit {
  font-weight: 300;
}
.warning{
  color: brown;
}

#submit {
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rebeccapurple;
  color: #fff;
}