/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: rgb(44,41,44);
  background-color: rgb(247,239,247);
}

ol,ul {
  list-style: none;
}

.btn {
  font-family: inherit;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-weight: 700;
  background-color: rgb(140,0,255);
  border: 1px solid rgb(140,0,255);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn:hover{
  background-color: rgb(79,10,190);
  border-color: rgb(79,10,190);
}

.btn_alt{
  color: rgb(140,0,255);
  background-color: transparent;
  /* border-color: transparent; */
  transition: all 0.5s ease;
}
.btn_alt:hover{
  background-color: transparent;
}

#main_header {
  background-color: rgb(140,0,255);
  padding: 1rem 5%;
  text-align: center;
  color: #fff;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: none;
}

.modal{
  position: fixed;
  width: 60vw;
  left: 50%;
  top: 50%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transform: translate(-50%,-50%);
  display: none;
}

.modal h3 {
  margin: 0;
}
.form_control{
  padding: 1rem 0;
}
.form_control label {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}
.error .form_control label{
  color: rgb(153,2,2);
}

.form_control input {
  width: 70%;
  font: inherit;
  border-color: rgb(140,0,255);
  padding: 3px;
  border-radius: 5px;
  outline: none;
}
.error .form_control input {
  border-color: rgb(153,2,2);
  background-color: lightcoral;
}
@media (min-width:48rem) {
  .form_control input {
    width: 50%;
  }
}
.form_control input:focus {
  outline: none;
  background-color: rgb(242, 240, 240);
}
.modal button:first-child{
  margin-right: 20px;
}

#player_configuration {
  width: 90vw;
  margin: 2rem auto;
  text-align: center;
}

#player_configuration ol {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 2rem;
}

#player_configuration li {
  background-color: rgb(247, 223, 251);
  padding: 1rem;
  border-radius: 6px;
  width: 70vw;
}
@media (min-width:40rem) {
  #player_configuration li {
    width: 25vw;
  }
}

#player_configuration h2 {
  font-size: 1.25rem;
  color: rgb(94,4,168);
  margin: 0.15rem 0;
  text-transform: capitalize;
}

#player_configuration h3 {
  font-size: 1rem;
  margin: 0.15rem 0;
}

.player_symbol {
  color: rgb(47,4,82);
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0.75rem;
}


#playing_field {
  width: 80vw;
  margin: 1.5rem auto;
  text-align: center;
  display: none;
}
@media (min-width:40rem) {
  #playing_field {
    width: 60vw;
  }
}

.winning_msg {
  background-color: rgb(47,4,82);
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  display: none;
}
.winning_msg h2 {
  font-size: 2.5rem;
}

.active_player_name {
  color: rgb(47,4,82);
  font-weight: 700;
  font-size: 1.25rem;
  border: 0.5px solid rgb(79,10,190);
  padding: 0px 8px;
  border-radius: 4px;
  text-transform: capitalize;
}

.game_board {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 10px;
}
.game_board li {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  background-color: rgb(247, 223, 251);
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transition: all 0.5s ease;
}
.game_board li.disable, .game_board li:hover{
  background-color: rgb(112,13,204);
  color:#fff;
}
.game_board li.disable{
  cursor: default;
}