<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Computed</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

  <div id="app">
    <div>
      <h5>Add Skill</h5>
      <input type="text" placeholder="type Skill" v-model="newSkill.name">
    <input type="text" placeholder="type experience" v-model="newSkill.experience">
    <button @click="addSkill">Add Skill</button>
    </div>
    <br>

    <h2>Skills</h2>
    <ul>
      <li v-for="(skill, i) in skills" :key="skill.name" @click="removeItem(i)">
        {{skill.name}} - {{skill.experience}}
      </li>
    </ul>
    <h3>Total Skills: {{totalSkill}}</h3>
  </div>
  

  <script src="app.js"></script>
</body>
</html>