*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
}

  .lift_farm{
    height: 300px;
    width: 200px;
    /* background-color: red; */
    border: 15px solid silver;
    border-bottom: 0;
    /* box-shadow: 10px 10px 10px; */
    padding: 10px;
    box-sizing: border-box;
    margin-top: 50px;

  }
  .lift_gate {
    height: 281px;
    width: 168px;
    background: #ecc2c2;
    box-sizing: border-box;
    margin-left: -9px;
    margin-top: -9px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: -2px -2px 1px black inset;
}